.transitionNavParent {
  background-color: transparent;
  padding: 1rem 0rem;
  top: 0;
}

.transitionNav {
  font-weight: 400;
  font-size: 1vw;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;

  & * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  & li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;

    & a {
      padding: 0.3em 0;
      color: #557DCD;
      position: relative;
      display: inline-block;
      margin: 0;
      text-decoration: none;

      &:before,
      &:after {
        position: absolute;
        transition: all 0.35s ease;
        -webkit-transition: all 0.35s ease;
      }

      &:before {
        top: 100%;
        display: block;
        height: 3px;
        width: 100%;
        background-color: #C8535B;
        content: "";
      }

      &:after {
        position: absolute;
        padding: 0.3em 0;
        top: 100%;
        left: 0;
        content: attr(data-hover);
        color: #C8535B;
        white-space: nowrap;
      }
    }
  }

  & li:hover a {
    transform: translateY(-100%);
  }

  [aria-current]:not([aria-current="false"]) {
    transform: translateY(-100%);
  }

  &-active {
    & a {
      transform: translateY(-100%);
    }
  }
}
