.loginCont {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  &-loginCard {
    border: 0px solid red;
    display: flex;
    width: 70%;
    height: 80%;
    &-logo {
      width: 45%;
      padding: 2rem 2rem;
      background: rgba(0, 48, 135, 0.6);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      & h1 {
        text-align: center;
        color: white;
      }
      & img {
        width: 35%;
        height: 30%;
      }
    }
    &-content {
      width: 55%;
      padding: 4rem 3rem;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-title {
        & h2 {
          color: $Blue3;
        }
      }
      &-form {
        border: 0px solid red;
        width: 100%;
        height: 100%;
        align-items: center;
        &-button {
          display: flex;
          justify-content: center;
          padding: 3rem 0rem 1rem 0rem;
          margin: 1rem 0rem 0rem 0rem;
        }
        & button {
          background: $Blue3;
          color: whitesmoke;
          padding: 0.5rem 3rem;
          border: none;
          border-radius: 50px;
        }
        & button:hover {
          background: #6ea4e7;;
        }
        & a,
        h6 {
          color: $Blue3;
          text-decoration: none;
        }

        &-input {
          padding-top: 3rem;
        }
        & input {
          background: #f5f5f5;
          padding: 0.3rem 1rem;
          border: none;
          border-radius: 15px;
          width: 90%;
        }
      }
    }
  }
}
