@mixin flex($justify, $align, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
@mixin prefix($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}
@mixin font($fontSize, $lineHeight, $fontWeight) {
  font-family: "Inter";
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
}
@mixin overflow($maxHeight, $overflowX, $overflowY) {
  max-height: $maxHeight rem;
  overflow: $overflowY;
  overflow-x: $overflowX;
}
@mixin hover($hovBackgroundCol, $hovCol, $hovCursor: "") {
  background-color: $hovBackgroundCol;
  color: $hovCol;
  cursor: $hovCursor;
}
@mixin colorandback($color, $backColor) {
  color: $color;
  background-color: $backColor;
}
