$Blue1: #A1C0FF;
$Blue2: #2070ba;
$Blue3: #3d7dca;
$Blue4: #dfe3ee;
$Blue5:#A1C0FF;
$Blue6:#BDD3FFB2;

$White: #ffffff;
$Grey: #7f8187;
$Black: #444444;

$Grey3: #7f8187;
$White2: #ffffff;
$White4: #ffffff;
$White5: #ffffff;
