.cs-message--outgoing .cs-message__content {
  border-radius: 0.7em !important;
}

.message-ar {
  margin-right: auto !important;
  margin-left: 0 !important;
}

.cs-message:not(:only-child) {
  margin: 0.6em 0 0 0;
}
