.cs-conversation-header {
  background-color: $Blue1 !important;
}
.cs-conversation-header__content {
  & span {
    color: black !important;
  }
}
.cs-message--outgoing .cs-message__content {
  border-radius: 0.7em !important;
}
.cs-message__content {
  background-color: $Blue1 !important;
}

.message-ar {
  margin-right: auto !important;
  margin-left: 0 !important;
}

.cs-message:not(:only-child) {
  margin: 0.6em 0 0 0;
}
.cs-message-input__content-editor {
  background-color: $Blue1 !important;
  &-wrapper {
    background-color: $Blue1 !important;
  }
}
.cs-button--send {
  color: $Blue1 !important;
}
.cs-message-input__content-editor[data-placeholder]:empty:before {
  color: $Blue4 !important;
}

.cs-conversation {
  align-items: center;
}

.cs-message-input__content-editor-wrapper {
  border-radius: 0;
}

.cs-chat-container .cs-message-input {
  padding: 0;
}

.cs-search {
  border-radius: 0;
  height: 64px;
}
.cs-chat-container
  .cs-message-input
  .cs-message-input__content-editor-wrapper:first-child {
  margin: 0;
}

.cs-message-list__scroll-wrapper > .cs-message,
.cs-message-list__scroll-wrapper > .cs-message-group {
  max-width: none;
}
