.paystatCont{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91.8vh;
    width: 100vw;
    &-card{
        background: #8FB4FFCC;
        border-radius: 0.5rem;
        padding: 3rem 2rem;
        width: 30rem;
        height: 20rem;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &-content{
            & h3{
                color: whitesmoke;
            }
        }
    }
}