.arrow {
    height: 250px;
	width: 1000px;
	background-color: #3D7DCA;
    overflow: hidden;
}
    .trapezoid-1 {
        margin: 0;
        background-color:#003087;	
        width: 342.25px;
        height: 65.36px;
        transform: rotate(-50deg); 	
    }

    .trapezoid-2 {
        margin: 0;
        width: 342.25px;
        height: 65.36px;
        background-color:#2070BA;	
        transform: rotate(40deg); 
    }




/*<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.main {
	height: 250px;
	width: 1000px;
	background-color: yellow;
    overflow: hidden;
}
.trapezoid-1 {
	background-color:green;	
	height: 100px;
	width: 300px;
    transform: rotate(-50deg); 	
    margin-bottom: 55px;

}
.trapezoid-2 {
	margin: 0;
	background-color:black;	
	height: 100px;
	width: 300px;
    transform: rotate(40deg); 
}
</style>
</head>
<body>

<h2>Trapezoid CSS</h2>
<div class="main">
<div class="trapezoid-1 "></div>
<div class="trapezoid-2 "></div>
</div>
*/