
.staff-container-1 {

    display: grid;
    grid-template-columns: 60% 40%;
    background-color:#3D7DCA;
    direction: ltr;
    margin-top: 50px;
    height: 393px;
    padding-left: 80px;


    &-title {
        display: block;
        font-weight: 700;
        font-size: 25px;
        padding: 38px 558px 15px 555px;
        color: #444444;
        
    }
    &-image {
        margin: 60px;
        margin-left: 150px;
        border-radius: 30px;
        height: 266.48px;
    }
    &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 35px;
        padding-top: 15px;
        color: white;
        width: 685px;
    }
}

.staff-container-2 {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color:#3D7DCA;
    direction: ltr;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    height: 371px;
    padding-left: 80px;



    &-text {
        color: white;
        width: 855px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 24px;
        color: #444444;
    }
    /*&-arrow {
        height: 150px;
        width: 600px;
        background-color: yellow;
        overflow: hidden;
    }
    &-trapezoid-1 {
        background-color:green;	
        height: 50px;
        width: 150px;
        transform: rotate(-50deg); 	
        margin-bottom: 55px;
    
    }
    &-trapezoid-2 {
        margin: 0;
        background-color:black;	
        height: 50px;
        width: 150px;
        transform: rotate(40deg); 
    }
    */
    
}

.staff-container-3 {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color:#3D7DCA;
    direction: ltr;
    margin-top: 25px;
    height: 371px;
    align-items: center;
    justify-content: center;

    &-text {
    color: white;
    width:897px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    }
    &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    color: #444444;
    padding-left: 124px;
    }
}

.staff-container-4 {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color:#3D7DCA;
    direction: ltr;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    height: 371px;
    padding-left: 80px;

    &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: white;
    }
    &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 24px;
        color: #444444;

        

    }
    
}

