.home {
  background-color: $White;
  height: 600px;
  width: 100%;

  &-bg {
    background-image: url("https://www.imagehost.at/images/2023/05/23/download.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* stretch the image to match the width and height of the background area */
    background-position: center center;
    height: 500px;
    filter: drop-shadow(5px 5px 5px rgb(169, 166, 166));
    width: 100%;
  }

  &-btns {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &-btn {
    z-index: 10;
    margin-bottom: -50px;
    height: 260px;
    width: 250px;
    justify-content: center;
    background-color: white;
    border-color: rgb(218, 215, 215);
    font-size: 18px;
    color: $Blue2;
    font-weight: bold;
    filter: drop-shadow(3px 3px 3px rgb(216, 213, 213));

    &-side {
      z-index: 0;
      margin: 0px -20px -20px -20px;
    }

    &-icon {
      font-size: 100px;
    }

    &:hover {
      background-color: $Blue2;
      color: white;
    }
  }
}
.aboutUs {
  background-color: $White;
  margin-bottom: -7px;
  margin-top: -95px;
  &-title {
    color: $Blue2;
    padding: 2% 2% 2% 3%;
  }

  &-text {
    color: $Grey;
    padding: 0% 2% 0% 3%;
    font-size: 20px;
    max-width: 90%;
  }

  &-end {
    color: $Blue2;
    padding: 2% 2% 2% 3%;
    text-align: center;
  }
}
.aboutUs-end:hover {
  text-decoration: underline;
  color: $Black;
  cursor:pointer;
}
.home-container {
  background-color:#1681FF40;
  ;

  &-title {
    padding-top: 25px;
    &-name {
      color: $Blue1;
      text-align: center;

      font-size: 25px;
      font-weight: bold;
    }
  }

  &-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
    width: 100%;
    ;

    &-news {
      background-color: $Blue5;
      width: 300px;
      height: 400px;
      transition: transform 0.5s ease-in-out;
      transform-origin: center;

      &-pic {
        width: 300px;
      }

      &-title {
        padding: 6px;
        color: $Blue2;
        text-decoration: underline;
      }

      &-content {
        padding: 6px;
        color: $Grey;
      }

      &-btn {
        width: 90px;
        border-radius: 15px;
        background-color: $Grey3;
        color: $White;
        border-color: transparent;
        display: none;
        position: absolute;
        margin: 20px;
        left: 45%;
        top: 95%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
      }
    }
  }
}

.home-container-grid-news:hover {
  transform: scale(1.1);
}

.home-container-grid-news:hover .home-container-grid-news-btn {
  display: block;
}

.home-container-grid-news-btn:hover {
  color: white;
  background-color: $Blue1;
}

.latestNews {
  height: 500px;
  background: -webkit-linear-gradient(
    100deg,
    $Blue4 50%,
    rgb(170, 172, 176) 60%,
    $White 60%
  );
  display: grid;
  grid-template-columns: 30% 35% 35%;

  &-title {
    text-align: center;
    font-size: 28px;
    color: $Blue2;
    font-weight: bold;
    margin-top: 40%;
    margin-right: 10px;
    margin-left: 10px;
  }

  &-container {
    box-shadow: 5px 5px 5px rgb(198, 198, 198);
    background-color: white;
    width: 400px;
    height: 400px;
    place-self: center;

    &-pic {
      width: 400px;
      height: 200px;
    }
    &-date {
      margin: 15px;
      background-color: $Blue2;
      color: white;
      width: 25%;
      height: 25px;
      border-radius: 15px;
      text-align: center;
    }

    &-news {
      margin: 15px;
      color: rgb(74, 72, 72);
      font-style: bolder;
    }
    &-btn {
      background-color: transparent;
      border-color: transparent;
      color: grey;
      font-size: 25px;
      text-align: right;
      margin: 20px;
    }
  }
}
