.home {
  margin: 0rem 6rem 0rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-latestNews{
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 0rem;
    margin-bottom: 2rem;
    text-align: center;
    &-title{
      // border: 1px solid blue;
      margin-bottom: 1rem;
      color: #557DCD;
      h3 {
        font-size: 1.8vw;
        font-weight: 400;
      }
    }
    &-grid {
      border: 0.6rem solid transparent;
      border-radius: 0.3rem;
      background-image: linear-gradient(0deg, #EBF1FF 0%, #EBF1FF 100%),
          linear-gradient(0deg, #BBD1FD 0%, #BBD1FD 10%),
          linear-gradient(0deg, transparent 0%, transparent 100%),
          linear-gradient(0deg, transparent 0%, transparent 100%),
          linear-gradient(0deg, #BBD1FD 0%, #BBD1FD 100%);
      background-origin: padding-box, border-box, border-box, border-box, border-box;
      background-repeat: no-repeat;
      background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
      background-position: top left, top left, top right, bottom left, bottom right;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40rem;
      &-icon{
        transform: 0.5s;
        cursor: pointer;
        width: 100px;
        color: #8FB4FF;
        font-size: 3vw;
      }
      &-news {
        // border: 1px solid black;
        background: #BDD3FFCC;
        border-radius: 0.3rem;
        margin: 1rem;
        padding: 1rem;
        height: 26rem;
        height: auto;
        max-height: 500px;
        max-width: 330px;
        cursor: pointer;
        transition: 0.5s;
        &-pic{
          background: #8FB4FF;
          img {width: 100%;}
        }
        &-title{
          // border: 1px solid red;
          color: #1E1E1ECC;
          font-weight: 400;
          font-size: 1.4vw;
          margin-top: 2rem;
        }
      }
    }
  }


  &-container {
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: #8FB4FF80;
    padding: 2rem;
    // height: 25rem;
    // max-height: 23rem;
    margin-bottom: 2rem;
    text-align: center;
    &-title {
      margin-bottom: 3rem;
      color: #FFFFFF;
      h3 {
        font-size: 1.7vw;
        font-weight: 400;
      }
    }
    &-grid {
      display: flex;
      justify-content: center;
      align-items: center;
      &-news {
        background: #FFFFFF;
        border-radius: 0.5rem;
        margin: 2rem;
        padding: 1rem;
        height: 18rem;
        height: auto;
        max-height: 300px;
        width: 16rem;
        max-width: 230px;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: 4px 4px 4px 0px #00000040;
        &-pic{
          height: 50%;
          background: #8FB4FF;
          img {width: 100%;}
        }
        &-title{
          color: #000000CC;
          font-weight: 400;
          font-size: 1vw;
          margin: 1rem 0rem;
        }
        &-btn{
          border: none;
          width: 100%;
          font-size: 1.2vw;
          display: none;
        }
      }
    }
  }
  
  &-bg {
    //border: 1px solid black;
    border-radius: 0.5rem;
    background: #8FB4FF80;
    height: 20rem;
    max-height: 20rem;
    margin-bottom: 2rem;
    &-img{
      height: 100%;
      display: flex;
      justify-content: space-between;
      img {
        height: 100%;
      }
    }
  }

  &-aboutUs {
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    background: #8FB4FF;
    height: 18rem;
    // height: auto;
    margin-bottom: 2rem;
    color: #FFFFFF;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    &-img{
      height: 100%;
      display: flex;
      justify-content: space-between;
      img {
        height: 100%;
      }
    }
    &-title {
      margin-bottom: 1rem;
      font-size: 1.5vw;
    }
    &-text {
      padding: 0rem 4rem;
      font-size: 1vw;
    }
    &-end {
      padding: 0.5rem 1.5rem;
      background: #FF8F94B2;
      font-size: 1vw;
      border-radius: 0.5rem;
      box-shadow: 2px 2px 4px 0px #00000040;
      transition: 0.3s;
    }
    &-end:hover {
      cursor:pointer;
      background: #FF8F9480;
    }
  }
}

// .home-container-grid-news:hover .home-container-grid-news-btn {
//   display: block;
  
// }
.home-container-grid-news:hover {
  background: #FFFFFF94;
}
.home-latestNews-grid-news:hover {
  background: #8AA2D099;
}
.home-latestNews-grid-icon:hover {
  color: #8FB4FFB8;
}

@media (max-width: 1400px) {
  .home {
    &-latestNews {
      height: 18rem;
      &-title {
        margin-bottom: 2rem;
      }
      &-grid {
        &-news {
          margin: 1rem;
          height: 8rem;
          width: 7rem;
          &-title{
            font-size: 0.5vw;
            margin: 1rem 0rem;
          }
        }      
      }
    }
    &-container {
      height: 18rem;
      &-title {
        margin-bottom: 2rem;
      }
      &-grid {
        &-news {
          margin: 1rem;
          height: 8rem;
          width: 7rem;
          &-title{
            font-size: 0.7vw;
            margin: 0rem 0rem;
            // border: 1px solid blue;
          }
          &-img{
            max-height:30%;
          }
        }      
      }
    }
    
    &-bg {
      height: 12rem;
    }
  
    &-aboutUs {
      height: 12rem;
    }
  }
}
