.fiirst-container {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #3d7dca;
  justify-content: center;
  margin-bottom: 20px;
  height: 393px;
  align-items: center;
  padding: 0 85px;


  &-image {
    border-radius: 30px;
    height: 275.65px;
    display: block;
    margin: 50px 85px;
    max-width: fit-content;
  }
  &-text {
    color: white;
    font-size: 16px;
    line-height: 19px;
  }
}

.seecond-container {
  padding: 40px;
  background-color: #3d7dca;
  margin-bottom: 20px;

  &-title {
    color: #444444;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 22px 90px 15px 90px;
  }

  &-text {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 84px;

    & li {
      max-width: 700px;
    }
  }
}