.fiirst-container {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: white;
  justify-content: center;
  height: 393px;
  align-items: center;
  padding: 0 85px;


  &-image {
    border-radius: 30px;
    height: 275.65px;
    display: block;
    margin: 50px 85px;
    max-width: fit-content;
  }
  &-text {
    color: #7F8187;
    font-size: 16px;
    line-height: 19px;
  }
}

.seecond-container {
  padding: 40px;
  background-color: #1681FF40;
  &-title {
    color: #22277A;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 22px 90px 15px 90px;
  }

  &-text {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 84px;

    & li {
      max-width: 700px;
    }
  }}
  .thirdd-container {
    padding: 40px;
    background-color: white;
  
    &-title {
      color: #22277A;
      font-weight: bold;
      margin-bottom: 30px;
      padding: 22px 90px 15px 90px;
    }
  
    &-text {
      color: #7F8187;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 84px;
  
      & li {
        max-width: 700px;
      }
    }
}